.create-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15% 0% 0% 0%;
}

.create-user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 14pt;
  height: 110px;
  width: 90px;
}

.login-link {
  font-size: 13pt;
  text-decoration: none;
  color: #0000EE;
}

.login-link:hover {
  text-decoration: underline;
}

input {
  font-size: 12pt;
}
