.create-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15% 0% 0% 0%;
}

.create-user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 14pt;
  height: 110px;
  width: 90px;
  padding-bottom: 40px;
}

.create-user-button {
  font-size: 12;
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 0 0 1px 0 black;
  border-radius: 6px;
  padding: 0rem 0.25rem 0.15rem 0.25rem;
  margin: 13px 0px 0px 0px;
  background-color: white;
  -webkit-user-select: none;
  white-space: nowrap;
}

.create-user-button:hover {
  background-color: var(--light-grey);
  transition: all 0.3s ease-in-out;
}

.login-link {
  font-size: 13pt;
  text-decoration: none;
  color: #0000EE;
}

.login-link:hover {
  text-decoration: underline;
}

input {
  font-size: 12pt;
}
