@import './colours.css';

/* Grid Container for Image Preview */
.image-preview-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0px 20px 0px 20px;
  gap: 25px 15px;
}

/* Image Preview Buttons */
.preview-buttons {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  justify-items: center;
}

.preview-button {
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 0 0 1px 0 black;
  margin: 1px;
  border-radius: 6px;
  background-color: white;
  width: 95%;
  text-align: center;
  padding-bottom: 0.1rem;
  -webkit-user-select: none;
}

.preview-button-disabled {
  cursor: default;
  border: 2px solid black;
  box-shadow: 0 0 2px 0 black;
  border-radius: 6px;
  background-color: var(--light-grey);
  width: 95%;
  text-align: center;
  padding-bottom: 0.1rem;
  -webkit-user-select: none;
}

.preview-button:hover {
  background-color: var(--light-grey);
  transition: all 0.3s ease-in-out;
}

/* Image Preview */
.preview-frame {
  padding: 0px;
  margin: 0px;
}

.preview-img {
  width: 100%;
  height: auto;
}
