/* Grid Container for Image Preview */
.image-preview-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0px 20px 0px 20px;
  gap: 25px 15px;
}

/* Image Preview Buttons */
.preview-buttons {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  justify-items: center;
}

.preview-button {
  cursor: pointer;
  border: 1px solid black;
  margin: 1px;
  border-radius: 6px;
  background-color: white;
  width: 95%;
  text-align: center;
  padding-bottom: 0.1rem;
  -webkit-user-select: none;
}

.preview-button-disabled {
  cursor: default;
  border: 2px solid black;
  border-radius: 6px;
  background-color: whitesmoke;
  width: 95%;
  text-align: center;
  padding-bottom: 0.1rem;
  -webkit-user-select: none;
}

.preview-button:hover {
  background-color: whitesmoke;
}

/* Image Preview */
.preview-frame {
  padding: 0px;
  margin: 0px;
}

.preview-img {
  width: 100%;
  height: auto;
}

/* Edit Image Metadata Modal */
.edit-details-modal {
  font-size: 14px;
  border: 1px solid black;
  width: 80vw;
  background-color: whitesmoke;
  border-radius: 10px;
}

/* Edit Image Header */
.edit-details-modal > .header {
  width: 100%;
  font-size: 22px;
  text-align: center;
  padding: 15px 5px 0px 5px;
}

/* Edit Image Content Region */
.edit-details-modal > .content {
  width: 100%;
  padding: 10px 20px 25px 20px;
}

/* Edit Image Close Button */
.edit-details-modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -5px;
  top: -5px;
  font-size: 24px;
  background-color: white;
  border-radius: 18px;
  border: 1px solid black;
}

/* Edit Image Input */
.edit-input-region {
  display: flex;
  font-size: 13pt;
  flex-direction: column;
  align-items: space-between;
  width: 70%;
}

.edit-input {
  font-size: 12pt;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  width: 100%;
  overflow-y: hidden;
  resize: none;
  padding: 5px;
  line-height: 20px;
}

/* Edit Image Buttons Region */
.edit-actions {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px 0px 0px 0px;
  column-gap: 10px;
  justify-items: center;
  width: 40%;
}
