@import './colours.css';

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: black;
}

.navbar-username {
  display: flex;
  align-items: center;
  color: var(--medium-grey);
  flex: 3;
}

.navbar-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 10px 0px;
  background-color: black;
  color: var(--medium-grey);
  flex: 2;
}

.navbar > * {
  font-size: 12pt;
  font-weight: 600;
  margin: 0px 30px 0px 30px;
}

.current-link {
  text-decoration: none;
}

.link {
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
  padding: 0px 10px 0px 10px;
}

.link:hover {
  color: var(--medium-grey);
  transition: all 0.1s ease-in-out;
}
